<dl class="result answerer">
  <dt>Answerer</dt>
  <dd class="answerer-name"><a href="{{ user.link }}">{{ user.display_name }}</a></dd>
  <dt>Post Count</dt>
  <dd class="answerer-count">{{ post_count }}</dd>
  <dt>Score</dt>
  <dd class="answerer-score">{{ score }}</dd>
</dl>
